{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Silver Horse</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<div class="top-buttons">
  <a href="login.html" class="btn">Вхід</a>
  <a href="register.html" class="btn">Реєстрація</a>
</div>



    <div class="hero-text">
        <h1>Silver Horse</h1>
        <p>Відчуй свободу дикого степу разом із нами</p>
    </div>
</body>
</html>
