{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Silver Horse{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Підключаємо головний файл стилів -->
    <link rel="stylesheet" href="{% static 'userspace/main.css' %}">
</head>
<body>

    <!-- Підключаємо верхній хедер -->
    {% include 'userspace/other/header.html' %}
    <!-- Підключаємо підхедер -->
    {% include 'userspace/other/sub-header.html' %}

    <!-- Основний контент -->
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Підключення футера -->
    {% include 'userspace/other/footer.html' %}

    <!-- Скрипт для проявлення футера при прокручуванні -->
    <script>
        const footer = document.querySelector('.site-footer');

        window.addEventListener('scroll', () => {
            if (window.pageYOffset > 100) {
                footer.classList.add('show-footer');
            } else {
                footer.classList.remove('show-footer');
            }
        });
    </script>

</body>
</html>
