
{% load static %}
<footer class="site-footer">
    <div class="footer-contacts">
        <span>Email: alina.o.ivanilova@ukd.edu.ua</span>
        <span>Телефон: +380 95 666 0654</span>
    </div>
    <div class="footer-socials">
        <a href="#"><img src="{% static 'userspace/facebook-icon.png' %}" alt="Facebook"></a>
        <a href="#"><img src="{% static 'userspace/instagram-icon.png' %}" alt="Instagram"></a>
        <a href="#"><img src="{% static 'userspace/tiktok-icon.png' %}" alt="TikTok"></a>
        <a href="https://t.me/Anfarda" target="_blank"><img src="{% static 'userspace/telegram-icon.png' %}" alt="Telegram"></a>
    </div>

    <div class="footer-bottom">
        <a href="{% url 'sources' %}" class="footer-button">Використані джерела</a>
        <span style="margin-left: 25px;">© 2025 Silver Horse. Всі права захищені.</span>
    </div>
</footer>

