{% extends 'userspace/base.html' %}
{% load static %}
{% block title %}Підписка{% endblock %}

{% block content %}
<div class="subscription-page">
    <h1>Сторінка підписки</h1>
    <p>Тут ти можеш перевірити свій баланс Срібних Підков і Крил, отримати нові ресурси, активувати чарівні промокоди та покращити свою підписку, щоб відкрити нові шляхи пригод.</p>

    <div class="currencies-balance">
        <div class="currency-item">
            <img src="{% static 'userspace/Silver_Horseshoe.png' %}" alt="Срібні Підкови" class="currency-icon">
            <span class="currency-label">Срібні Підкови:</span>
            <span class="currency-value">{{ user_horseshoes }}</span>
        </div>

        <div class="currency-item">
            <img src="{% static 'userspace/silver_feather.png' %}" alt="Срібні Пір'я" class="currency-icon">
            <span class="currency-label">Срібні Пір'я:</span>
            <span class="currency-value">{{ user_silver_wings }}</span>
        </div>
    </div>
</div>

    <!-- Промокод -->
    <div class="promo-code-section">
        <h2>Активувати промокод</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="promo_code" placeholder="Введіть промокод" required class="promo-input">
            <button type="submit" class="send-btn">Активувати</button>
        </form>
        {% if promo_message %}
        <p class="promo-message">{{ promo_message }}</p>
        {% endif %}
    </div>
</div>

{% endblock %}
